# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
scratch/

# IDE / Editor Configuration
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Environment files
.env

# Custom

docs/
!docs/index.html